.day {
	font-size: 18px;
}

.matchday, .match {
	color: black;
}

.hours {
	color: #333;
}

.match {
	margin: 20px;
}
.teams-vs {
	font-size: 16px;
	
}

.tv-channels ul  {
	padding-left: 0px!important;
}

.tv-channels ul li {
	display: inline-block;
}

.rtp img, .sporttv img {
	height: auto;
	width: 50px;
}

.wc-logo img {
	margin: 20px;
	height: 100px;
	width: auto;
 }
 
.flag {
	margin: 10px!important;
	margin-bottom: 13px!important;
	display: inline-block!important;
}

.teams-vs a {
	color: black;
}

.reset-filter {
	text-align: right;
	margin-right: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none;
}

#splash-page.ng-cloak  /*<-- This has higher specificity so it can display a splash screen*/
{
    display: block;
}