<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
	<meta name="description" content="Calendário do mundial FIFA World Cup 2014">
	<meta name="keywords" content="mundial,campeonato do mundo,fifa,world cup,2014,calendário,canais,rtp,sporttv">
	<meta name="author" content="Tiago Santana">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" href="favicon.png">
    <title>Calendário FIFA World Cup 2014 </title>
</head>
<body cz-shortcut-listen="true" ng-app="MyAppModule">
	<div class="site-wrapper">
      <div class="site-wrapper-inner">
		<div class="cover-container" ng-controller="MatchesListCtrl">

			<div class="wc-logo">
				<img src="img/wc.png"/>
			</div>
			 <div class="reset-filter" ng-if="teamFilter == true" ng-cloak>
				<a href="#" ng-click="init()">Remover Filtro</a>
			</div>
			 <div class="inner cover" ng-cloak>
					<div class="row">			
						<div class=".col-xs-12 .col-sm-6 .col-md-8 matchday thumbnail" ng-repeat="matchDay in matchDays | orderBy: 'round.start_at' | dateFilter:'round.start_at'">
							<div class="day">{{ matchDay.round.start_at }}</div>
							<div class="match" ng-repeat="game in matchDay.games">
								<div class="hours">{{ game.hour }}</div>
								<div class="teams-vs" ng-style="style(game)">
									<a href="#" ng-click="searchTeam(game.team1_title)">
										<img class="flag" ng-src="img/flags/{{game.team1_code | lowercase}}.gif"/>{{ game.team1_title }}
									</a> - 
									<a href="#" ng-click="searchTeam(game.team2_title)">
										{{ game.team2_title }}<img class="flag" ng-src="img/flags/{{game.team2_code | lowercase}}.gif"/>
									</a>
								</div>
								<div class="tv-channels">
									<ul>
										<li class="rtp" ng-if="game.rtp != null">
											<a href="http://www.rtp.pt/rtp1/"><img alt="RTP 1" src="img/rtp.png"/></a>
										</li>
										<li class="sporttv">
											<a href="http://www.sporttv.pt/"><img alt="SPORT TV" src="img/sporttv.jpg"/></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
			  </div>
		</div>		
		<div class="footer">
			<p>Made by <a href="https://github.com/tiagosantana">Tiago Santana</a>, with
			<a href="https://angularjs.org/">AngularJS</a>, <a href="http://getbootstrap.com/">Bootstrap</a>
			and <a href="https://github.com/openfootball">football.db</a>.</p>
		</div>
	  </div>
    </div>
	
	<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
	<link href="css/shelf.css" rel="stylesheet">
	<style type="text/css"></style><style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
	<script type="text/javascript" src="angular/1.1.5/angular.js"></script>
	<script type="text/javascript" src="angular/1.1.5/angular-resource.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
	<script src="js/docs.min.js"></script>
</body>
</html>